.textoPrueba1{
    color:red;
    font-family: 'madaniArabicBlack';
}

.textoPrueba2{
    color:red;
    font-family: 'madaniArabicBold';
}

.textoPrueba3{
    color:red;
    font-family: 'madaniArabicExtraBold';
}

.textoPrueba4{
    color:red;
    font-family: 'madaniArabicExtraLight';
}

.textoPrueba5{
    color:red;
    font-family: 'madaniArabicLight';
}

.textoPrueba6{
    color:red;
    font-family: 'madaniArabicMedium';
}

.textoPrueba7{
    color:red;
    font-family: 'madaniArabicRegular';
}

.textoPrueba8{
    color:red;
    font-family: 'madaniArabicSemiBold';
}

.textoPrueba9{
    color:red;
    font-family: 'madaniArabicVariable';
}

.textoPrueba10{
    color:red;
    font-family: 'madaniArabicBlack';
}