.CondonacionesContainer{
    background-color: white;
    width:800px; /* or whatever width you want. */
    max-width:1000px;/* or whatever width you want. */
    height: auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

  .CondonacionesContainer h1{
      color: #6d356d;
      font-family: "Gotham";
  }

  .CondonacionesContainer p{
      padding: 15px;
      text-align: justify;
      font-family: "Gotham-Book";

  }

  #resaltado{
      color:#6d356d;
      font-family: "Gotham";
  }

  .enlacesCondonaciones{
      display: block;
      text-align: justify;
      margin:15px;
      color:#01a59c;
      font-family: "Gotham";
      font-size: 20px;
     
  }

  .enlacesCondonaciones a{
    text-decoration: none;
    color:#01a59c;
  }

  .enlacesCondonaciones a:hover{
    text-decoration: none;
    color:#6d356d;
  }

  @media(min-width:0px) and (max-width: 420px){
    .CondonacionesContainer{
      background-color: white;
      width:100%; /* or whatever width you want. */
      max-width:100%;/* or whatever width you want. */
      height: auto;
      display:block;
      margin-left: auto;
      margin-right: auto;
    }
  }