

.div-principalConvocatorias{
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
  background-color: white;
  background-image: url('../images/Fondo-01.jpg');
  background-position:100% 50%;
  background-repeat: no-repeat;
  background-size:contain;
}

.img-bannerTNM{
  width:100%;
}



.div-principalBecasItem{
  width: 96%;

  background-color: #c4c4c2;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  overflow:hidden;

}

.ui.link.cards{
  text-align: center;
  width: 90%;
  margin-left: 10%;
  margin-right: 10%;
}


.h2-nombreBecaItem{
  text-align: left;
  padding-left: 1%;
  font-family: 'Gotham-Book';
  background-color: ;
  color: white;
}


.h4-fechaBecaItem{
  text-align: left;
  padding-left: 1%;
  font-family: 'Gotham';
}

.p-descripcionBecaItem{
  text-align: justify;
  padding: 1%;
  font-family: 'Gotham-Book';
}


.div-contenidoBecas{
  overflow-x:scroll;
  width:100%;
  height: 100vh;

}



@media(min-width:5000px){


  .div-principalConvocatorias{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    background-color: #b5b5b5;

  }

  .div-portadaConvocatorias{
      width: 100%;
      height: 40vh;
      margin-top: 0%;
      margin-bottom: 0%;
      background-image: url('http://tecmm.edu.mx/imagesReact/images/convocatoriasPortada.png');
      background-position:80% 30%;
      background-repeat: no-repeat;
      background-size:cover;
      align-content: center;
      position: relative;
  }



}


@media(min-width: 2500px){
  .div-principalConvocatorias{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
/*RESOLUCION PARA IPAD PRO*/
@media(min-width:771px) and (max-width: 1025px){
  .div-principalConvocatorias{
    width: 100%;
    height: 100%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: white;
  }

}

/*RESOLUCION PARA IPAD*/
@media(min-width:500px) and (max-width: 770px){
  .div-principalConvocatorias{
    width: 100%;
    height: 100%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: white;
  }

}
@media(max-width:420px){
  .div-principalConvocatorias{
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    height: 100%;
    background-color: white;
  }

  .img-portadaConvocatorias{
      width: 100%;
      height: 25vh;
      margin-top: 0%;
      margin-bottom: 0%;
      background-position:80% 30%;
      background-repeat: no-repeat;
      background-size:cover;
      align-content: center;
      position: relative;
  }

  #card-beca{
    width:390px;
  }
}
