
.div-principal-cardsInteres{
  width:100%;
  height:auto;
  background-color: #3f3f42;
  border-top: .5vh solid white;
}

.div-principal-cardsInteres h1{
  font-family: 'Gotham-Ultra';
  font-size: 2.7vh;
  padding-top: 1vh;
  color: white;
}

.img-card{
  max-width: 24.8%;

}

.img-card:hover{
  background-color: white;
  opacity: 0.7;
  cursor: pointer;
}

@media(min-width:5000px){
  .div-principal-cardsInteres{
    width:100%;
    height: 35vh;
    background-color: #3f3f42;
  }.div-principal-cardsInteres h1{
    font-family: 'Gotham-Ultra';
    font-size: 2.7vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: white;
  }
}

@media(max-width: 770px){

  .div-principal-cardsInteres{
    width:100%;
    height: 100%;
    background-color: #3f3f42;
    border-top: 1vh solid white;
    justify-content: space-between;
  }

  .img-card{
    width:24%;
    height:24%;
    margin: 0.2vh;
  }

  .img-card:hover{
    background-color: white;
    opacity: 0.7;
    cursor: pointer;
  }

}

@media(max-width: 420px){

.div-principal-cardsInteres{
  width:100%;
  height: 100%;
  background-color: #3f3f42;
  border-top: .5vh solid white;
}

.div-principal-cardsInteres h1{
  font-size: 2vh;
  font-family: 'Gotham-Ultra';
  margin: 10px;
  color: white;
}



}
