.juntasGobiernoContainer{
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}

.juntasGobiernoContainer h1{
    font-family: "Gotham-Ultra";
    color:#6D356C;
}

.loginJuntasContainer{
    width:100%;
    height: 800px;
    background-color: ;
}

.loginJuntasContainer img{
    width: 20%;
}

.loginJuntasContainer p{
    font-family: "Gotham-Book";
    font-size: 15px;
}


.loginForm{
    width:100%;
    height: 100%;
    text-align: center;
  }
  
  .inputsContainer{
    padding: 1%;
    border-radius: 10px;
    border: #6D356C solid 3px;
    width: 50%;
    margin: 0px auto;
    background-color: grey;
  }


.loginForm input{
    width:100%;
    margin-bottom: 5%;
    font-size: 3vh;
    border:1.5px #6D356C solid;
    border-radius: 5px;
    outline: none;
    font-family: "Gotham-Book";
    color:#6D356C;
  }
  
  .loginForm button{
    color:white;
    background-color: #6D356C;
    outline: none;
    border: none;
    margin-top: 5%;
    width:200px;
    height: 60px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Gotham";
    opacity: 0.8;
  }
  
  .loginForm button:hover{
    background-color: #6D356C;
    opacity: 1;
  
  }
  


.ordenDiaContainer{
    text-align: left;
    height: 800px;
    padding:5px; 
}

.ordenDiaContainer h2{
    color:#2DA19A;
    font-family: "Gotham";
    line-height: 20px;
    font-size: 20px;
}

.lugarFechaContainer{
    margin-top: 20px;
}

.lugarFechaContainer p{
    padding:0px;
    margin:0px;
    font-size: 15px;
    font-family: "Gotham-Book"
}

#negritas{
    font-family: "Gotham";
}

.link1{
    text-decoration: none;
    color:black
}

.link1:hover{
    color:#6D356C;
    font-family: "Gotham";
    
}

.ordenDiaContainer ol{
    margin-top: 20px;
}

.ordenDiaContainer li{
    margin:5px;
    font-size: 15px;
    cursor: pointer;
    font-family: "Gotham-Book";
}
  
.ordenDiaContainer li:hover{
    color:#6D356C;
    font-family: "Gotham";
}


.sesionesAnterioresContainer{
    text-align: left;
    height: 800px;
    padding:5px; 
 
}

#sesionAnterior{
    text-decoration: none;
    color:#2DA19A;
}

.sesionesAnterioresContainer ol{
    width: 100%;
}

.sesionesAnterioresContainer li{
    font-family: "Gotham";
    font-size: 20px;
    margin:10px;
    text-decoration: none;
}

#sesionAnterior:hover{
    color:#6D356C
}

/*Iphone 6,7,8*/
@media (max-width:420px){
    .juntasGobiernoContainer h1{
        font-size: 30px;
    }

    .ordenDiaContainer{
        height: 100%;

    }
    .juntasGobiernoContainer{
        width: 100%;
        height: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .ordenDiaContainer h2{
        font-size: 15px;
    }

    .lugarFechaContainer{

        margin-top: 20px;
    }

    .lugarFechaContainer p{
        padding:0px;
        margin:0px;
        font-size: 15px;
        font-family: "Gotham";
    }
    
    .ordenDiaContainer ol{
        margin-top: 20px;
    }


    
    .ordenDiaContainer li{
        font-family: "Gotham";
        
    }

    #negritas{
        color:#2DA19A;
        font-family: "Gotham";
    }

    .sesionesAnterioresContainer{

        height: 700px;
  
     
    }

    .sesionesAnterioresContainer li{
        font-family: "Gotham";
        font-size: 15px;
        margin:10px;
        text-decoration: none;
    }
    
    #sesionAnterior:hover{
        color:#6D356C
    }




    .loginJuntasContainer{
        width:100%;
        height: 500px;
        background-color: ;
    }
    
    .loginJuntasContainer img{
        width: 50%;
    }
    
    .loginJuntasContainer p{
        font-family: "Gotham";
        font-size: 15px;
    }
    

      
      .inputsContainer{
        width: 90%;
      }
    
    
    .loginForm input{

        font-family: "Gotham";

      }
      
      .loginForm button{
        color:white;
        background-color: #6D356C;
        outline: none;
        border: none;
        margin-top: 5%;
        width:200px;
        height: 60px;
        cursor: pointer;
        border-radius: 10px;
        font-size: 20px;
        font-family: "Gotham";
        opacity: 0.8;
      }
      
}


@media(min-width:2500px) and (max-width:5000px){
    .juntasGobiernoContainer h1{
        font-size: 50px;
    }

    .ordenDiaContainer{
        height: 700px;

    }


    .ordenDiaContainer h2{
        font-size: 30px;
        line-height: 30px;
    }

    .lugarFechaContainer{
        margin-top: 30px;
    }

    .lugarFechaContainer p{
        padding:0px;
        margin:0px;
        font-size: 20px;
        font-family: "Gotham-Book";
    }
    
    .ordenDiaContainer ol{
        margin-top: 40px;
    }


    
    .ordenDiaContainer li{
        
        font-size: 20px;
    }

    #negritas{
        font-family: "Gotham";
    }

}