.div-principalMenuCentral{
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  background-color: white
}

.img-banner{
  width: 100%;
}

.img-banner-movil{
  display: none;
}











.div-menuGobMx{
  width: 100%;
  height: 5vh;
  background-color: #0b231e;
  position: relative;
}

.div-menuGobMx img{
  height: 70%;
  margin:0.5%;
  position: absolute;
  left: 0%;
}

.div-linksMenuGobMx{
  position:absolute;
  right: 0%;
  width: auto;
  height: 100%;
  background-color: ;
}

.div-linksMenuGobMx a{
  color:white;
}

.div-linksMenuGobMx ul{
  display: flex;
  list-style: none;
}

.div-linksMenuGobMx li{
  height: 100%;
  background-color: ;
  color:white;
  padding: 10px;
  font-size: 2vh;
  cursor: pointer;
  font-family: "Gotham-Book";
}

.div-linksMenuGobMx li:hover{
  background-color: white;
  opacity: 0.6;
  color:black;
  font-family: "Gotham-Book";
}
















#menuCentralBootstrap{
  background-color: white;
  width: 100%;
  border-bottom: 4px solid #6D356C;
}

#menuCentralBootstrap a{
  color:grey;
}

#dropdownBootstrap{
  background-color: white;
  border-color: transparent;
  box-shadow: 0 0 0 0.2rem transparent;
  color:grey;
  font-family: "Gotham"!important;
  font-size: 13px;
}

#dropdownBootstrap:hover{
  background-color: #6D356C;
}

#dropdownItemBootstrap{
  font-family: "Gotham"!important;
  font-size: 13px;
}



#navItemBootstrap{
  font-family: "Gotham"!important;
  color:grey!important;
  margin-left:50px;
  font-size: 13px;
}

#navItemBootstrap:hover{
    background-color: #6D356C;
}



.dropdown-content{
  background-color: white;
  font-family: "Gotham";
  border-radius: 10px;
  height: 200%!important;
  width:120%;
  font-size: 2vh;
  text-align: left;
  line-height: 20px;
  display: none;
  position: absolute;
  padding: 2px 2px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown-content a{
  color: grey;
  text-align: left!important;
  width: 100%;
}


.dropdown-content a:hover{
  background-color: grey;
  color: white!important;
}


.ui.eight.item.menu{
  margin-top:-0.5%;
  border-bottom: 3px #6D356C solid;
}

.item{
  color:grey!important;
  font-family: "Gotham";
  font-size: 10px;
}


.span-menuMovilButton{
  display: none;
}

.sidenav{
  display: none;
}


