.div-principal-modeloAcademicoMovil{
  width: 100%;
}

.img-bannerTNM{
  width: 100%;
}

.div-slides-ModeloAcademicoMovil{
  width: 100%;
  background-color: white;


}

.img-modeloAcademico-slide{
  width: 100%;
  padding: 2%;
  border: 4px solid #2DA19A;
}
