.posgradosParallax1{
  background-image: url("http://tecmm.edu.mx/imagesReact/images/posgrados/posgrados1(filtro).JPG");
  height: 300px;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.posgradosParallax2{
  background-image: url("http://tecmm.edu.mx/imagesReact/images/posgrados/posgrados2.JPG");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.posgradosParallax3{
  background-image: url("http://tecmm.edu.mx/imagesReact/images/posgrados/posgrados3.JPG");
  height: 300px;
  background-attachment: fixed;
  background-position : center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mensajePosgrado {
  width: 80%;
  height:auto;
  margin-left: 10%;
  padding-top: 5%;
  background-color:transparent;

}

.mensajePosgrado h1{
  font-family: "Gotham-Ultra";
  color:white;
  font-size: 6vh;
}

.mensajePosgrado p{
  font-size:2vh;
  color:white;
  font-family: "Gotham";
  text-align: justify;
}

.queOfrecemosContainer{
  height: 100px;
  background-color:#2DA19A;
}

.queOfrecemosContainer h1{
  color:white;
  font-family: "Gotham-Ultra";
  font-size: 7vh;
}

.queOfrecemosContainer h2{
  color:#6D356C;
  font-family: "Gotham-Book";
  font-size: 4vh;
}


.infoMaestriaSistemas{
  width: 60%;
  height: auto;
  margin-left: 40%;
  text-align: right;
  margin-top: 5%;
  background-color: rgb(45, 161, 154);
  padding: 1%;
  position: absolute;
  border-radius: 10px;
}

.infoMaestriaSistemas h1{
  font-family: "Gotham-Ultra";
  color:#6D356C;
  font-size: 6vh;
}

.infoMaestriaSistemas p{
  font-size:2vh;
  color:white;
  font-family: "Gotham";
  text-align: justify;
}

.infoMaestriaSistemas a{
  color:white;
  font-family: "Gotham-Book";
  outline: none;
  background-color: ;
  width: 50%;
}

.infoMaestriaAdministracion{
  width: 60%;
  height:auto;
  margin-left: 0%;
  text-align: left;
  margin-top: 25%;
  background-color: rgb(45, 161, 154);
  padding: 1%;
  position: absolute;
  border-radius: 10px;
}

.infoMaestriaAdministracion h1{
  font-family: "Gotham-Ultra";
  color:#6D356C;
  font-size: 6vh;
}

.infoMaestriaAdministracion p{
  font-size:2vh;
  color:white;
  font-family: "Gotham";
  text-align: justify;
}

.infoMaestriaAdministracion a{
  color:white;
  font-family: "Gotham-Book";
  outline: none;
}
